<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="LogIn.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="../public/css/login.css">

</head>

<body>
    <header class="bg-dark text-white text-center pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-11 mb-5">
                    <h1>GİRİŞ YAP</h1>
                </div>
            </div>
        </div>

        <!-- NAVBAR CODING-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light background">
            <form action="./anasayfa.html">
                <a class="navbar-brand pl-5 text-muted" href="/views/anasayfa.html">ŞikayetÇukuru</a>
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>
    <div class="row">
        <div class="container">
            <div class="col-md-12 pt-5 pb-5 d-flex justify-content-center">
                <div class="form-container">
                    <div class="eyes">
                        <div class="eye">
                            <div class="shut">
                                <span></span>
                            </div>
                            <div class="pupil"></div>
                        </div>
                        <div class="eye">
                            <div class="shut">
                                <span></span>
                            </div>
                            <div class="pupil"></div>
                        </div>
                    </div>
                    <br>
                    <br>

                    <form>
                        <div class="left-label"> Müşteriyim</div>
                        <div class="right-label">Çalışanım</div>

                        <div class="slideTwo">
                            <input type="checkbox" id="myCheckbox">
                            <label for="myCheckbox"></label>
                        </div>
                        <div class="alert alert-warning mt-3 mr-5" role="alert">
                            Çalışanlar E-posta adresi giremez.
                        </div>
                        <label class="" id="label3" for="email">E-posta:</label>
                        <input type="email" id="email" name="email" placeholder="E-posta adresinizi giriniz..." required>
                        <br>
                        <br>
                        

                        <label id="label1" for="username">Kullanıcı Adı:</label>
                        <input type="text" id="username" name="username" placeholder="Kullanıcı adınızı giriniz..." required
                            pattern="[a-zA-Z0-9]+">

                        <br>
                        <br>
                        <label id="label4" for="tel">Telefon Numarası:</label>
                        <input type="text" id="tel" name="tel" placeholder="Telefon numaranızı giriniz..." required>
                        <br>
                        <br>

                        <label id="label2" for="password">Şifreniz:</label>
                        <input type="password" id="password" name="password" placeholder="Şifrenizi giriniz..."
                            required="Please enter password">
                        <input type="button" id="see" onclick="seePassword()" value="⦿">
                        <br>
                        <br>
                        <input type="submit" id="sign" value="Kayıt Ol!">
                        <br>
                        <form action="../views/anasayfa2.html">
                            <input type="submit" id="log" value="Giriş Yap!">
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container contact-section">
        <h2>İletişim</h2>
        <p>Bizimle iletişime geçmek için aşağıdaki bilgileri kullanabilirsiniz:</p>
        <p>Email: info@sikayetcukuru.com</p>
        <p>Telefon: +90 123 456 7890</p>
    </div>
    <script src="../public/js/login.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>