* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background {
    background-image: url('https://i.pinimg.com/originals/48/11/49/48114939364fa67c2483d573b9de18c7.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background: url(http://thekitemap.com/images/feedback-img.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    opacity: 100%;
    background-color: #F8F9FA;
    color: #343A40;
}

section {
    background-color: #F8F9FA;
}

.profilePhoto {
    min-height: 150px;
}

.pp {
    max-width: 250px;
    max-height: 250px;
}

.icon {
    max-width: 30px;
    max-height: 30px;
}

.logo {
    max-width: 75px;
    max-height: 75px;
    border: 1px solid;
    border-radius: 10px 20px;
}

header {
    background-color: #333;
    color: white;
    text-align: center;

}

section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
}

nav {
    background-color: #F8F9FA;
    padding: 1em;
    text-align: left;
}

nav a {
    text-decoration: none;
    color: #ecf0f1;
    margin: 0 1em;
}

.navbar-nav .nav-item .nav-link {
    position: relative;
}

.navbar-nav .nav-item .nav-link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: black;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.altcizgi {
    text-decoration-line: underline;
}

.navbar-nav .nav-item .nav-link:hover:after {
    width: 100%;
    left: 0;
}



#feedback-page {
    text-align: center;
}

#form-main {
    width: 100%;
    float: left;
    padding-top: 0px;

}

#form-div {
    z-index: 1050; /* Bootstrap modalleri genellikle 1050'den başlar */

    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(72, 72, 72, 0.4); /* Set the background color as needed */
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add box shadow for better visibility */
}

.feedback-input {
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused {
    color: #30aed6;
    border: #30aed6 solid 3px;
}

#name {

    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#name:focus {

    background-size: 30px 30px;
    background-position: 8px 5px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#konu {

    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#konu:focus {

    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#comment {

    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: none;

}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    background-color: white;
}

#button-blue {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    float: left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

#button-blue:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #0493bd;
}

.submit:hover {
    color: #3498db;
}

.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease;
}

.submit:hover .ease {
    width: 100%;
    background-color: white;
}

#button-red {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    float: left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: #d30606;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

#button-red:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #f54b4b;
}

.quit:hover .ease {
    width: 100%;
    background-color: white;
}

.contact-section {
    padding: 50px 0;
    text-align: center;
    color: #ecf0f1;
}

.contact-section h2 {
    margin-bottom: 30px;
    color: #ecf0f1;
}

@media screen and (max-width: 767px) {

    table,
    table th,
    table td,
    table tbody,
    table thead,
    table tr,
    table tr textarea {
        display: block;
        width: 100%;
        box-sizing: border-box;

    }

    table thead {
        display: none;
    }

    table tbody tr {
        margin-bottom: 15px;
    }

    table td {
        text-align: left;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
}

@media screen and (max-width: 767px) {
    footer p {
        width: 100%;
        min-height: auto;
        margin-bottom: 10px;
    }
}